<h1> Parcel Dimensions</h>
<form action="/output">
  <div class="form-group">
    <label for="first_num"> Length of package</label>
    <input id="num1" name="first_num" class="form-control" type="number">
  </div>

  <div class="form-group">
    <label for="second_num"> Width of package </label>
    <input id="num2" name="second_num" class="form-control" type="number">
  </div>

  <div class="form-group">
    <label for="third_num"> Height of package </label>
    <input id="num3" name="third_num" class="form-control" type="number">
  </div>
  <button type="submit" class="btn btn-default">GO!</button>
  </form
